.DS_Store
__MACOSX/
._*

node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

frontend/.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
*.log

backend/.env

venv/
.venv/

.idea/
.vscode/
*.iml

*.pid
