services:
  backend:
    build: ./backend
    container_name: sem_backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: sem_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
