@import 'tailwindcss';

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-gray-800;
  }

  .dark body {
    @apply bg-gray-900 text-gray-200;
  }
}
